* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to right, green , black);
    color: #fff;
    height: 70px;
}

#header-img {
    display: flex;
    width: 30%;
    padding: 16px 40px;
}

#nav {
    width: 70%;
}

nav ul {
    display: flex;
    justify-content: flex-end;

}

#nav li {
    padding: 10px 10px;
    list-style-type: none;
}

#nav-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 15px;
}

#nav-link:hover {
    color: green;
    font-weight: bold;
}

#banner {
    display: flex;
    height: auto;
    background-image: url(image/arrowsimg.jpg)
}

#banner-text {
    display: flex;
    padding: 15%;
    color: #fff;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    padding: 5%;
}